<?php
require_once 'config.php';
session_start();
require_once '../header.html';
require_once '../aside.html';   
?>

<div class="col-sm-6" style="margin-bottom:0px"><h3 class="mb-0"> User Data  <?php   
  
    ?></h3>   </div>
<div class="col-sm-6">
 <ol class="breadcrumb float-sm-end">

 </ol>
</div>
</div>
<table id="myTable" >
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>




<?php
require_once '../footer.html';
?>



<!-- with database records  -->
 <?php
require_once 'config.php';
session_start();
require_once '../header.html';
require_once '../aside.html';  


   
?> 

<table id="myTable" >
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>


    </tr>
  </thead>
  <tbody>
  <?php
  $select = "SELECT * FROM user";
$result = mysqli_query($con_query, $select);
$count = mysqli_num_rows($result);
while ($row = mysqli_fetch_assoc($result)) {
    ?>
    <tr>
      <th scope="row"><?php echo $row['id']; ?></th>
      <td><?php echo $row['name']; ?></td>
      <td><?php echo $row['username']; ?></td>
      <td><?php echo $row['email']; ?></td>
      <td><?php echo $row['mobileno']; ?></td>
      <td><?php echo $row['vehicle_no']; ?></td>
      <td><?php echo $row['vehicle_type']; ?></td>

    </tr>
    <?php
}
?>


<table id="myTable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Vehicle No</th>
      <th scope="col">Vehicle Type</th>
    </tr>
  </thead>
  <tbody>
    <?php
    $select = "SELECT * FROM user";
    $result = mysqli_query($con_query, $select);

    while ($row = mysqli_fetch_assoc($result)) {
    ?>
      <tr>
        <th scope="row"><?php echo $row['id']; ?></th>
        <td><?php echo $row['name']; ?></td>
        <td><?php echo $row['username']; ?></td>
        <td><?php echo $row['email']; ?></td>
        <td><?php echo $row['mobileno']; ?></td>
        <td><?php echo $row['vehicle_no']; ?></td>
        <td><?php echo $row['vehicle_type']; ?></td>
      </tr>
    <?php
    }
    ?>


  </tbody>
</table>

    
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>



<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>


<?php
require_once '../footer.html';
?>


